@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    width: 1144px;
    max-width: 100%;
    margin: 0 auto;
}

.home-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%) contrast(100%);
    float: right;

}

.hero {
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    width: 51%;
    height: 40%;
}

.wrapper p {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
}


.wrapper p .words {
    overflow: hidden;
    display: block;
    height: 143px;
}

.wrapper p .words span {
    display: block;
    padding: 0 5px;
    height: 90%;
    color: #ffffff;
    animation: spin_words 4.5s infinite;
    text-align: center;
    overflow: hidden;
}

.input {
    position: relative;

    width: 45.4%;
}

.input input {
    padding: 9px 0 9px 16px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
}

.input input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.input i {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #fff;
    padding: 7px 7px 0 0;
    border-radius: 6px;
}

.input i svg {
    width: 24px;
    height: 24px;
    color: #1E88E5;
}

@keyframes spin_words {
    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }
}

.companies {
    margin-top: 56px;
}

.companies h3 {
    font-size: 36px;
    font-weight: 600;
    color: #121212;
    text-align: center;
}

.companies-card {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 57.5px 0px rgba(12, 11, 11, 0.07);
    background: rgb(248, 249, 250);
    border: 1px solid rgb(233, 236, 239);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}


.companies-cards {
    display: flex;
    column-gap: 24px;
    margin-top: 24px;
    overflow-x: scroll;
}

.companies-card .img {
    width: 248px;
    height: 168px;
}

.companies-card .img img {
    border-radius: 8px;
    height: 168px;
    width: 100%;
}

.companies-card .card-text {
    padding: 8px 0;
}

.card-text h5 {
    font-size: 20px;
    font-weight: 500;
    color: #121212;
}

.card-text p {
    font-size: 16px;
    font-weight: 300;
    color: #121212;
    margin-top: 4px;
}

.card-text a {
    font-size: 16px;
    font-weight: 500;
    color: #1E88E5;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.card-text i {
    height: auto;

}

.card-text svg {
    transition: all 0.4s ease-in-out;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.card-text a:hover svg {
    margin-left: 10px;
}

.timeline {
    margin-top: 142px;
    position: relative;

}

.timeline-img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.timeline-img img {
    width: 100%;
}

.timeline h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.timeline-texts {
    z-index: 999;
    display: flex;
    margin: 71px 0 0 127px;
}

.timeline-texts2 {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
}

.timeline-text {
    width: 37%;
    text-align: center;
    margin: 0 0 121px;
}

.timeline-text h2 {
    font-size: 40px;
    font-weight: 600;
}

.timeline-text p {
    font-size: 17px;
    font-weight: 300;
    color: #6C757D;
}

.timeline-text2 {
    margin: 0 0 0 139px;
    width: 37%;
}

.timeline-text3 {
    width: 37%;
    margin: 193px 0 0 54px;
}

.timeline-text4 {
    width: 37%;
    margin: 103px 0 0 115px;
}

.timeline-texts5 {
    justify-content: center;
}

.timeline-text5 {
    width: 49%;
    text-align: center;
    margin: 190px 75px 0 0px;
}

.cv {
    background-color: #0D47A1;
    margin-top: 80px;
}

.cv-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-text {
    width: 50%;
}

.cv-img {
    width: 560px;
    height: 562px;
}

.cv-img img {
    width: 100%;
}

.cv-text h3 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.cv-text p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.cv-text a {
    padding: 12px 20px;
    outline: none;
    border: none;
    color: black;
    border-radius: 6px;
    background-color: #42A5F5;
    margin-top: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;

}

.cv-text a:hover {
    background-color: #56b3fe;
}


.card-center {
    margin-top: 90px;
}

.card-flex {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.card .card-text {
    text-align: center;
}

.card-text h5 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 24px;
}

.card-text span {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    z-index: 999;
}

.card {
    padding: 21px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 47.7px 0px rgba(71, 67, 67, 0.09);
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card .card-img {
    width: 60px;
    height: 60px;
}

.card .card-img img {
    width: 100%;
}

.card .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    height: 117px;
    z-index: -1;
}

.card .img2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 114px;
    height: 88px;
}

.card .img3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 52px;
    height: 117px;
    z-index: -1;
}

.card .img4 {
    position: absolute;
    right: 0;
    top: 12px;
    width: 71px;
    height: 112px;
}

.card .img5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 90px;
}

.card .img6 {
    position: absolute;
    bottom: 22px;
    right: 0;
    width: 58px;
    height: 121px;
    z-index: -1;

}

.intern {
    margin-top: 130px;
}

.intern-flex {
    display: flex;
}

.intern-img {
    width: 96%;
}

.intern-img img {
    width: 100%;
}

.intern-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 24px;
    width: 93%;
}

.intern-text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 32px;
}

.intern-text p span {
    font-size: 20px;
    font-weight: 500;
}

.intern-text p {
    font-size: 20px;
    font-weight: 400;
    margin-left: 12px;
}

.intern-text .email {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-top: 40px;
    width: 78%;
}

@media (max-width: 576px) {
    .timeline-text4 {
        margin: 20px 0 0 15px;
    }


}

@media (max-width: 768px) {
    header {
        padding: 31px 15px !important;
    }

    header nav {
        display: none;
    }

    .wrapper {
        padding: 0 15px;
        width: 100%;
        height: 38%;
        text-align: center;
    }

    .wrapper p {
        font-size: 27px;
    }

    .input {
        width: 97%;
        padding: 0 15px;
    }

    .companies h3 {
        font-size: 30px;
    }

    .card-text h5 {
        font-size: 22px;
    }

    .card-text p {
        font-size: 14px;
    }

    .card-text a {
        font-size: 14px;
    }

    .companies-cards {
        padding: 0 15px;
    }

    .timeline {
        margin-top: 78px;
    }

    .timeline-texts {
        margin: 0;
    }

    .timeline h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .timeline-img {
        padding:0 20px 0 20px;
        /* width: 428px; */
        height: 366px;
    }

    .timeline-img img {
        width: 100%;
        height: 100%;
    }

    .timeline-text h2 {
        font-size: 15px;
    }

    .timeline-text p {
        font-size: 10px;
    }

    .timeline-texts {
        padding: 0 15px;
    }

    .timeline-text {
        margin: 30px 0 0 7px;
        width: 45%;
        text-align: right;
    }

    .timeline-text h2 {
        text-align: center;
    }

    .timeline-text2 {
        margin: 20px 0 0 14px;
        width: 45%;
        text-align: left;
    }


    .timeline-text3 {
        margin: 17% 0 0 37px;
        width: 42%;
        text-align: right;
    }

    .timeline-text4 {
        margin: 55px 0 0 15px;
        width: 41%;
        text-align: left;
    }

    .timeline-text4 h2 {
        text-align: center;
        margin-right: 45px;
    }
    .timeline-text5 {
        margin: 76px 0 0 7px;
        width: 57%;
        text-align: center;
    }

    .cv-flex {
        flex-direction: column;
    }

    .cv-text {
        width: 100%;
        text-align: center;
    }

    .cv {
        padding: 30px 15px 30px;
    }

    .cv-text h3 {
        font-size: 27px;
    }

    .cv-text p {
        font-size: 14px;
    }

    .cv-img {
        width: 100%;
        /* margin-top: 40px; */
        height: 429px;
    }

    .card-flex {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
    }

    .card-text span {
        font-size: 18px;
    }

    .card {
        width: 100%;
    }

    .intern-flex {
        flex-direction: column;
        padding: 0 15px;
    }

    .intern-text h2 {
        font-size: 26px;
        text-align: center;
    }

    .intern-text p {
        font-size: 17px;
        margin: 0 0 8px 0;
    }

    .intern-text .email {
        width: 100%;
    }

    .intern-img {
        width: 100%;
    }

    .footer-link {
        flex-direction: column;
    }

    .footer-flex {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px;
    }

    .footer-card {
        width: 100%;
    }

    .footer-card:first-child {
        width: 100% !important;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

}


@media (min-width: 769px) and (max-width: 992px) {
    .container {
        /* max-width: 960px !important; */
    }

    header {
        padding: 31px 45px !important;
    }


    .hero {
        padding: 0 45px;
    }

    .wrapper {
        width: 100%;
    }

    .companies {
        margin-top: 112px;
        padding: 0 45px;
    }

    .companies-cards {
        overflow: scroll;

    }

    .timeline-texts {
        z-index: 999;
        display: flex;
        margin: 0px 0 0 17px;
    }

    .timeline {
        padding: 0 45px;
        width: 100%;
    }

    .timeline-text {
        width: 50%;
        text-align: center;
        margin: 42px 0px 0 1px;
    }

    .timeline-img {
        padding: 0 45px 0 25px;
        width: 100%;

    }

    .timeline-text h2 {
        font-size: 30px;
    }

    .timeline-text p {
        font-size: 17px;
    }


    .timeline-text2 {
        margin: 50px 0 0 0;
        width: 46%;
    }

    .timeline-text3 {
        width: 48%;
        margin: 110px 0 0 9px;
    }

    .timeline-text4 {
        width: 43%;
        margin: 87px 0 0 0;
    }

    .timeline-text5 {
        width: 51%;
        text-align: center;
        margin: 125px 0px 0 0;
    }

    .timeline-texts5 {
        justify-content: center;
    }

    .cv-flex {
        flex-direction: column-reverse;
        display: inline-flex;
    }

    .cv-content {
        padding: 20px 45px;
    }

    .cv-text {
        width: 100%;
        text-align: center;
    }

    .card-flex {
        /* flex-direction: column; */
        align-items: center;
    }

    .card-center {
        width: 100%;
        padding: 0 45px;
    }

    .intern {
        padding: 0 45px;
    }

    .intern-flex {
        flex-direction: column;
    }

    .intern-text {

        width: 100%;
    }

    .intern-text h2 {
        font-size: 32px;
        margin-top: 26px;
    }

    .footer {

        padding: 20px 45px !important;
    }

    .footer-link {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .container {
        /* max-width: 1180px; */
    }
}

@media (max-width: 1700px) {
    .container {
        /* max-width: 1660px */
    }
}